* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.header {
  padding: 30px;
  border-bottom: 2px solid black;
}

.header-text {
  text-align: center;
  font-size: xx-large;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 5px;
}

.board-letter {
  height: 45px;
  width: 45px;
  font-size: 30px;
  text-transform: uppercase;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(6, 60px);
  gap: 8px;
}

.letter-box {
  width: 60px;
  height: 60px;

  border: 2px solid #999;
  border-radius: 6px;

  background: white;
  color: #222;

  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  caret-color: transparent;
}
